<div class="">
  <img class="angel" src="../../../assets/angels.webp" alt="" />
  <footer class="footer row d-flex justify-content-center align-items-center">
    <div class="text1 col-md-4 col-4" style="text-align: center">
      <img src="../../../assets/logotinified.webp" alt="" style="width: 30%" />
      <p>7:30am -5:30pm</p>
    </div>
    <div class="text1 col-md-3 col-3">
      <p class="p1">
        Support
        <br />
        <button class="button"></button>
      </p>
      <p>915 834 9748</p>
    </div>

    <div class="text1 col-md-3 col-3">
      <p class="p1">
        Location
        <br />
        <button class="button1"></button>
      </p>
      <p>337 Ace Ryan Chaparral Nuevo México 88081</p>
    </div>
  </footer>
</div>
