.bg{
    background-image: url(../../../assets/images/gallery/bg_gallerytiny.webp);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.div-bg{
    background-color: #ffffff0c;
    backdrop-filter: blur(3px);
}
 
.cloud{
    width: 100%;
}

.airplane{
    width: 100%;
}
 
.cube{
    width: 10rem;
}
 
.div-img-cube{
    width: fit-content;
    margin-bottom: 0px;
    margin-left: 15%;
} 

swiper{
    width: 25rem;
    height: 25rem;
}

.img-swiper-1 {
    width: 100% !important;
    border: rgb(152, 231, 249) solid 1.5rem;
    border-radius: 1rem;
    height: 100% !important;
}

.img-swiper-2 {
    width: 100% !important;
    border: rgb(226, 252, 65) solid 1.5rem;
    border-radius: 1rem;
    height: 100% !important;
}

.img-swiper-3 {
    width: 100% !important;
    border: rgb(244, 143, 173) solid 1.5rem;
    border-radius: 1rem;
    height: 100% !important;
}

.cubes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0px;
    text-align: center;
}

.letters{
    text-align: center;
    color: rgb(56, 182, 255);
    background-color: #ffffffbe;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 25px #222;
    
}