.bg{
    background-image: url(../../../assets/images/gallery/bg_gallerytiny.webp);
    background-repeat: no-repeat;
    background-size: cover;
   
}
 
.div-bg{
    background-color: #0707070c;
    backdrop-filter: blur(5px);
}
 
.cloud{
    width: 100%;
}

.airplane{
    width: 100%;
}
 
.cube{
    width: 10rem;
}
 
.div-img-cube{
    width: fit-content;
    margin-bottom: 0px;
    margin-left: 15%;
} 

.swiper{
    width: 25rem;
    height: 25rem;
}

.img-swiper{
    width: 100%;
    border-radius: 1rem;
    height: 100%;
}

.br-img-1{
    border: rgb(152, 231, 249) solid 1.5rem;

}
.br-img-2{
    border: rgb(226, 252, 65) solid 1.5rem;

}

.br-img-3{
    border: rgb(244, 143, 173) solid 1.5rem;
}



.cubes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0px;
    text-align: center;
    
}

.letters{
    text-align: center;
    color: rgb(56, 182, 255);
    background-color: #ffffffbe;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 25px #222;
    
}



/* responsive cubes*/
@media (max-width: 1090px ) {
    .swiper{
        width: 21rem;
        height: 21rem;
    }
}


@media (max-width: 945px ) {
    .swiper{
        width: 18rem;
        height: 18rem;
    }
}


@media (max-width: 831px ) {
    .swiper{
        width: 15rem;
        height: 15rem;
    }
}

@media (max-width: 767px ) {
    .swiper{
        width: 19rem;
        height: 19rem;
    }
}

@media (max-width: 570px ) {
    .txt-10{
        font-size: 2rem;
    }
}

@media (max-width: 480px ) {

     .swiper{
        width: 15rem;
        height: 15rem;
    }
    .cube{
        width: 7rem;
    }

    .br-img-1{
        border: rgb(152, 231, 249) solid 1rem;
    
    }
    .br-img-2{
        border: rgb(226, 252, 65) solid 1rem;
    
    }
    
    .br-img-3{
        border: rgb(244, 143, 173) solid 1rem;
    
    
    }
}

@media (max-width: 420px ) {
    .txt-10{
        font-size: 2rem;
    }

    .cloud{
        width: 15rem; 
     }

     .airplane{
        display: none;
     }
}

@media (max-width: 390px ) {
    .swiper{
        width: 12rem;
        height: 12rem;
    }
     

    .cube{
        width: 5rem;
    }
   
    .div-cloud{
        text-align: center;
    }
    
    .cloud{
        width: 12rem; 
     }

     .txt-10{
        font-size: 1rem;
    }
     

}
 
@media (max-width: 340px ) {

    .swiper{
       width: 9rem;
       height: 9rem;
   }
   .cube{
       width: 7rem;
   }

   .br-img-1{
       border: rgb(152, 231, 249) solid 0.5rem;
   
   }
   .br-img-2{
       border: rgb(226, 252, 65) solid 0.5rem;
   
   }
   
   .br-img-3{
       border: rgb(244, 143, 173) solid 0.5rem;
   
   
   }
}

@media (max-width: 390px ) {
  

    .cube{
        width: 3rem;
    }
   
    .div-cloud{
        text-align: center;
    }
    
    .cloud{
        width: 10rem; 
     }

   
     

}