.nav-container {
  width: fit-content;
  position: absolute;
  z-index: 2;
}

.div-img {
  background-color: #fff;
}

.logo {
  width: 8.5rem;
  cursor: pointer;
}

.b-radius {
  border-radius: 0px 35px 35px 0px;
}

.touch:is(:hover, :focus, :active) {
  color: var(--white-2);
  background-color: #69BBEA;
}

.touch-2:is(:hover, :focus, :active) {
  color: var(--white-2);
  background-color: #65257B;
}

.touch-3:is(:hover, :focus, :active) {
  color: var(--white-2);
  background-color: #E74339;
}

.touch-4:is(:hover, :focus, :active) {
  color: var(--white-2);
  background-color: #AD0441;
}

.touch-5:is(:hover, :focus, :active) {
  color: var(--white-2);
  background-color: #D967CD;
}
