<div class="bg-community">
  <section class="padding-5">
    <div
      class="container-sections offset-md-2 offset-2 col-md-10 col-10 br-radius-30 bg-module-community"
    >
      <div class="div-first">
        <div class="explorer-container">
          <img
            class="img-explorer animate__animated animate__slideInUp animate__delay-2s"
            src="../../../assets/images/community/explorador1tiny.webp"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="section first row">
          <div
            class="branch-text-container col-12 col-md-6 col-sm-12 d-flex flex-column"
          >
            <div class="div-branch">
              <img
                src="../../../assets/images/community/rama-arbol-hojas-verdestiny.webp"
                alt=""
                class="img-branch"
                loading="lazy"
              />
            </div>
            <div class="div-text-br">
              <p class="txt-7 fit-content" style="margin-bottom: 0">
                Se ha demostrado
              </p>
              <p class="txt-4 fit-content pg-2">
                que los primeros años en la vida de un niño son decisivos para
                el desarrollo posterior de todas sus facetas.
              </p>
            </div>
          </div>
          <!-- end branch and text section -->
          <div
            class="giraffe-container d-flex align-items-end justify-content-end col-12 col-md-6 col-sm-12"
          >
            <img
              src="../../../assets/images/community/giraffe-tiny.webp"
              alt=""
              class="img-giraffe"
              loading="lazy"
            />
          </div>
        </div>
        <!-- end container img -->
      </div>
      <!-- end first section -->
      <div class="div-second">
        <div class="div-text1">
          <p class="txt-7 fit-content mb-0">Angels Home Child Care</p>
          <p class="txt-4 fit-content padd-left-2">
            es el Mejor Hogar fuera de casa
          </p>
        </div>

        <div class="container-rocks">
          <img
            src="../../../assets/images/community/huellas.png"
            alt=""
            class="feets"
            loading="lazy"
          />

          <img
            class="img-rocks"
            src="../../../assets/images/community/rocksandliongroup_tiny.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <!-- end second section -->

      <div class="div-third">
        <div class="container-elephant">
          <div class="div-elephant-text">
            <p class="txt-7 mb-0">Todo nuestro personal</p>
            <p class="txt-4">
              recibe capacitación continua con la finalidad de ofrecerles el
              mejor cuidado y enseñanza a nuestros pequeños.
            </p>
          </div>

          <img
            src="../../../assets/images/community/elefantgroup-cutout.webp"
            alt=""
            class="img-elephant"
          />
        </div>
      </div>

      <!-- end third section -->
    </div>
  </section>
  <app-footer class="footer"></app-footer>
</div>
