<section class="p-5 bg-splash">
  <div class="offset-md-2 col-md-10 br-radius-30 bg-module">
    <h1>soy el splash y necesito una buena posición</h1>
    <h1>soy el splash y necesito una buena posición</h1>
    <h1>soy el splash y necesito una buena posición</h1>
    <h1>soy el splash y necesito una buena posición</h1>
    <h1>soy el splash y necesito una buena posición</h1>
    <h1>soy el splash y necesito una buena posición</h1>
    <h1>soy el splash y necesito una buena posición</h1>
    <h1>soy el splash y necesito una buena posición</h1>
    <h1>soy el splash y necesito una buena posición</h1>
    <h1>soy el splash y necesito una buena posición</h1>
  </div>
</section>
