<div class="bg-splash">
  <section class="p-5">
    <div class="div-container">
      <div class="offset-md-2 col-md-10 br-radius-30 bg-module">
        <div class="div-splash splash-radius-30">
          <div>
            <div class="txt-welcome offset-md-4 col-md-4">
              <p class="">Somos profesionales en el cuidado infantil</p>
              <button class="btn-aboutus" type="button" routerLink="/community">
                Nosotros
              </button>
            </div>
            <div class="div-circle"></div>
          </div>
        </div>
        <div class="" style="height: 30rem; background-color: aliceblue">
          <!--   <div class="container">
            <swiper effect="cube">
              <ng-template swiperSlide
                ><img src="../../../assets/logo.jpg" alt=""
              /></ng-template>
              <ng-template swiperSlide
                ><img src="../../../assets/logo.jpg" alt=""
              /></ng-template>
              <ng-template swiperSlide
                ><img src="../../../assets/logo.jpg" alt=""
              /></ng-template>
            </swiper>
          </div> -->
        </div>
      </div>
      <!-- second part -->
    </div>
  </section>
  <app-footer class="footer"></app-footer>
</div>
