<div class="bg-aboutus">
  <section class="padding-5">
    <div class="">
      <div
        class="offset-md-2 offset-2 col-md-10 col-10 br-radius-30 bg-about-local"
      >
        <div class="section first row">
          <div class="col-12 col-md-8 col-sm-12">
            <div class="container-text div-container-text txt-white-2">
              <h3>Misión</h3>
              <p class="txt-2">
                Educar con calidad y promover una educación activa, abierta e
                integral del niño/a, formándole en valores morales, éticos y
                culturales, involucrando y trabajando conjuntamente con las
                familias, para conseguir una armonía en su formación.
              </p>
            </div>
            <div class="container-img">
              <img
                class="tree-leaf"
                loading="lazy"
                src="../../../assets/images/about-us/hoja1tiny.webp"
                alt=""
              />
            </div>
          </div>
          <div
            class="col-12 col-md-4 col-sm-12 d-flex align-items-end justify-content-end"
          >
            <div class="container-tero">
              <img
                class="terosaur"
                loading="lazy"
                src="../../../assets/images/about-us/dinoazultiny.webp"
                alt=""
              />
            </div>
          </div>
        </div>
        <!-- end first section -->
        <div class="section second row">
          <div class="col-12 col-md-8 col-sm-12 offset-md-4">
            <div class="container-text div-container-text-2 txt-white-2">
              <h3>Visión</h3>
              <p class="txt-2">
                Para Angels Home CHild Care, los niños y niñas son lo mas
                importante y queremos ayudarles a formar un gran futuro con
                amor, respeto, confiabilidad, compromiso, seguridad, entrega y
                dedicación.
              </p>
            </div>
            <div class="container-img">
              <img
                class="tree-leaf"
                loading="lazy"
                src="../../../assets/images/about-us/hoja1tiny.webp"
                alt=""
              />
            </div>
          </div>
        </div>
        <!-- end second section -->
        <div class="row">
          <div class="col-12 col-sm-12 col-md-7">
            <div class="container-vulcan">
              <img
                src="../../../assets/images/about-us/volcannuevo-cutout.webp"
                alt=""
                class="vulcan"
              />
            </div>
          </div>
          <div
            class="col-12 col-sm-12 col-md-5 d-flex justify-content-end align-items-end"
          >
            <div class="container-dino" style="width: fit-content">
              <img
                src="../../../assets/images/about-us/t-rexTiny-cutout.webp"
                alt=""
                class="dino"
              />
            </div>
            <div class="container-trees">
              <img
                src="../../../assets/images/about-us/GroupTreeTiny2.webp"
                alt=""
                class="trees"
              />
            </div>
          </div>
        </div>
        <!-- end third section -->
      </div>
    </div>
  </section>
  <app-footer class="footer"></app-footer>
</div>
