<div class="bg-activities">
  <section class="padding-4">
    <div
      class="offset-md-2 offset-2 col-md-10 col-10 col-sm-10 br-radius-30 bg-module bg"
    >
      <div class="div-bg br-radius-30">
        <div class="div-our txt-6">
          <p>Nuestras</p>
        </div>
        <div class="div-tittle txt-10">
          <p>Actividades</p>
        </div>

        <div>
          <svg
            width="100%"
            height="100%"
            id="svg"
            viewBox="0 0 1440 390"
            xmlns="http://www.w3.org/2000/svg"
            class="transition duration-300 ease-in-out delay-150"
          >
            <style>
              .path-0 {
                animation: pathAnim-0 4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
              }

              @keyframes pathAnim-0 {
                0% {
                  d: path(
                    "M 0,400 C 0,400 0,200 0,200 C 100.60714285714286,207.25 201.21428571428572,214.5 330,198 C 458.7857142857143,181.5 615.75,141.25 744,129 C 872.25,116.74999999999999 971.7857142857142,132.5 1083,149 C 1194.2142857142858,165.5 1317.107142857143,182.75 1440,200 C 1440,200 1440,400 1440,400 Z"
                  );
                }

                25% {
                  d: path(
                    "M 0,400 C 0,400 0,200 0,200 C 101.14285714285714,221.60714285714286 202.28571428571428,243.21428571428572 315,225 C 427.7142857142857,206.78571428571428 552,148.75 686,136 C 820,123.25 963.7142857142858,155.78571428571428 1091,174 C 1218.2857142857142,192.21428571428572 1329.142857142857,196.10714285714286 1440,200 C 1440,200 1440,400 1440,400 Z"
                  );
                }

                50% {
                  d: path(
                    "M 0,400 C 0,400 0,200 0,200 C 111.17857142857142,205.89285714285714 222.35714285714283,211.78571428571428 327,207 C 431.64285714285717,202.21428571428572 529.75,186.75000000000003 657,176 C 784.25,165.24999999999997 940.6428571428571,159.2142857142857 1076,164 C 1211.357142857143,168.7857142857143 1325.6785714285716,184.39285714285717 1440,200 C 1440,200 1440,400 1440,400 Z"
                  );
                }

                75% {
                  d: path(
                    "M 0,400 C 0,400 0,200 0,200 C 77.10714285714286,221.32142857142858 154.21428571428572,242.64285714285717 300,252 C 445.7857142857143,261.35714285714283 660.25,258.75 784,263 C 907.75,267.25 940.7857142857142,278.3571428571429 1035,269 C 1129.2142857142858,259.6428571428571 1284.607142857143,229.82142857142856 1440,200 C 1440,200 1440,400 1440,400 Z"
                  );
                }

                100% {
                  d: path(
                    "M 0,400 C 0,400 0,200 0,200 C 100.60714285714286,207.25 201.21428571428572,214.5 330,198 C 458.7857142857143,181.5 615.75,141.25 744,129 C 872.25,116.74999999999999 971.7857142857142,132.5 1083,149 C 1194.2142857142858,165.5 1317.107142857143,182.75 1440,200 C 1440,200 1440,400 1440,400 Z"
                  );
                }
              }
            </style>
            <path
              d="M 0,400 C 0,400 0,200 0,200 C 100.60714285714286,207.25 201.21428571428572,214.5 330,198 C 458.7857142857143,181.5 615.75,141.25 744,129 C 872.25,116.74999999999999 971.7857142857142,132.5 1083,149 C 1194.2142857142858,165.5 1317.107142857143,182.75 1440,200 C 1440,200 1440,400 1440,400 Z"
              stroke="none"
              stroke-width="0"
              fill="#fff3d4"
              fill-opacity="1"
              class="transition-all duration-300 ease-in-out delay-150 path-0"
            ></path>
          </svg>
        </div>

        <!-- end first section -->

        <div class="div-canvas">
          <div class="div-canvas-1 row">
            <div
              class="show-div-1 div-text col-md-6 col-12 col-sm-12 txt-10 d-flex flex-column justify-content-center align-items-center"
            >
              <div class="div-text">
                <p>Actividad 1</p>
              </div>
              <div class="div-blue-line">
                <img
                  class="img-blue-line"
                  src="../../../assets/images/activities/trazoazul.webp"
                  alt=""
                />
              </div>
            </div>
            <div
              class="col-md-6 col-12 col-sm-12 d-flex flex-column justify-content-center align-items-center"
            >
              <div class="div-img">
                <img
                  class="img"
                  src="../../../assets/images/activities/lienzo.webp"
                  alt=""
                />
                <div class="div-swiper">
                  <swiper class="swiper" effect="flip">
                    <ng-template *ngFor="let slide of slides" swiperSlide
                      ><img
                        class="img-swiper br-img-1"
                        loading="lazy"
                        src="{{ slide.image }}"
                    /></ng-template>
                  </swiper>
                </div>
              </div>
            </div>

            <div
              class="show-div-2 div-text col-md-6 col-12 col-sm-12 txt-10 d-flex flex-column justify-content-center align-items-center"
            >
              <div class="div-text">
                <p>Actividad 1</p>
              </div>
              <div class="div-blue-line">
                <img
                  class="img-blue-line"
                  src="../../../assets/images/activities/trazoazul.webp"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="div-canvas-2 row">
            <div
              class="div-text col-md-6 col-12 col-sm-12 txt-10 d-flex flex-column justify-content-center align-items-center"
            >
              <div class="div-text-1">
                <p>Actividad 2</p>
              </div>
              <div class="div-pink-line">
                <img
                  class="img-pink-line"
                  src="../../../assets/images/activities/trazorosa.webp"
                  alt=""
                />
              </div>
            </div>

            <div class="col-md-6 col-12 col-sm-12">
              <div class="div-img">
                <img
                  class="img-2"
                  src="../../../assets/images/activities/lienzo.webp"
                  alt=""
                />
                <div class="div-swiper-1">
                  <swiper class="swiper" effect="flip">
                    <ng-template *ngFor="let slide of slides" swiperSlide
                      ><img
                        class="img-swiper br-img-1"
                        loading="lazy"
                        src="{{ slide.image }}"
                    /></ng-template>
                  </swiper>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
